.hero_tagline {
    color: #B71C1C;
}
.hero_container {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../images/img/background.jpg");
    background-repeat: no-repeat;
    width: 1180px;
 }